* {
	box-sizing: border-box;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	line-height: 24px;
	background: url("../images/naturerock.jpg");
	background-size: cover;
}

div, footer{
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.instruction, .randomScore, .crystalsDisplay, #total-score, footer {	
    padding: 10px;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 60px;
	font-weight: 900;
	text-align: center;	
	text-shadow: 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	padding: 30px;
	color:lightcyan;
	

}

img:hover { 
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2); 
	filter: drop-shadow(5px 5px 5px lightcyan);
}

ol {
	
	background-size: cover;
	border-radius: 10px;
	padding: 30px;
	color: white;
	background: darkslategrey;

}

h2 {
	font-size: 20px;
	font-family: Impact, Charcoal, sans-serif;
	padding-bottom: 10px;
	margin-bottom:10px;
	border-bottom: dotted 2px;
}

ol li:before {
	content: "\2666 \0020";
}



.randomScore {
	overflow: auto;
}

#random, #score, .total {
	width:40%;
	padding: 20px;
	text-align: center;
	background-size: cover;
	border-style: solid;
	border-width: 10px;
	
}

#random { 
	float: left; 
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	color: lightcyan;
}

#score { 
	float: right; 
	font-family: Arial Black, Gadget, sans-serif;
    font-size: 15px;
    color: antiquewhite;
	
}

.crystalsDisplay {
	text-align: center;
}

.total {
	width: 50%;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 20px;
	color: burlywood;
}

#total-score {
	color: whitesmoke;
}

.new-element {
	color: whitesmoke; 
	font-family: Impact, Charcoal, sans-serif;
	font-size: 20px; 
	text-shadow: none;
	padding: 7px;
	background-size: cover;
	border-radius: 30px;
	
}

footer {
	text-align: center;
	color: white;
}
